## Zomato Data Analysis Project

# step 1 - Importing the required libraries

In [12]:

import pandas as pd
import numpy as np
import seaborn as sns

import matplotlib.pyplot as plt

### Creating the Data Frame

In [13]:
dataframe = pd.read_csv('data.csv')
print(dataframe.head()) # lesss Fuuckinnn go data importedddd !!!

                    name online_order book_table   rate  votes  \
0                  Jalsa          Yes        Yes  4.1/5    775
1         Spice Elephant          Yes         No  4.1/5    787
2        San Churro Cafe          Yes         No  3.8/5    918
3  Addhuri Udupi Bhojana           No         No  3.7/5     88
4          Grand Village           No         No  3.8/5    166

   approx_cost(for two people) listed_in(type)
0                          800          Buffet
1                          800          Buffet
2                          800          Buffet
3                          300          Buffet
4                          600          Buffet

## Q1  What type of Restaurants do the majority of customers order from?
#### Converting data type of 'rate' column to float

In [15]:
def handleRate(value):
     value = str(value).split('/')
     value = value[0]
     return float(value)

dataframe['rate'] = dataframe['rate'].apply(handleRate)
print(dataframe.head())

                    name online_order book_table  rate  votes  \
0                  Jalsa          Yes        Yes   4.1    775
1         Spice Elephant          Yes         No   4.1    787
2        San Churro Cafe          Yes         No   3.8    918
3  Addhuri Udupi Bhojana           No         No   3.7     88
4          Grand Village           No         No   3.8    166

   approx_cost(for two people) listed_in(type)
0                          800          Buffet
1                          800          Buffet
2                          800          Buffet
3                          300          Buffet
4                          600          Buffet