# Zomato Data Analysis Project

## Step 1 : Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

dataframe = pd.read_csv("Zomato data .csv")
print(dataframe)

                      name online_order book_table   rate  votes  \
0                    Jalsa          Yes        Yes  4.1/5    775
1           Spice Elephant          Yes         No  4.1/5    787
2          San Churro Cafe          Yes         No  3.8/5    918
3    Addhuri Udupi Bhojana           No         No  3.7/5     88
4            Grand Village           No         No  3.8/5    166
..                     ...          ...        ...    ...    ...
143       Melting Melodies           No         No  3.3/5      0
144        New Indraprasta           No         No  3.3/5      0
145           Anna Kuteera          Yes         No  4.0/5    771
146                 Darbar           No         No  3.0/5     98
147          Vijayalakshmi          Yes         No  3.9/5     47

     approx_cost(for two people) listed_in(type)
0                            800          Buffet
1                            800          Buffet
2                            800          Buffet
3                            300          Buffet
4                            600          Buffet
..                           ...             ...
143                          100          Dining
144                          150          Dining
145                          450          Dining
146                          800          Dining
147                          200          Dining

[148 rows x 7 columns]

## Convert the Datatype of column - rate

In [7]:
def rateDisplay(value): # --> Takes the rate as a parameter
    value = str(value).split('/') # --> Converts each rate into an array of 2 elements eg. [4.1, 5]
    value = value[0] # --> Accessing the 1st element which will be the user rating
    return float(value)

dataframe['rate'] = dataframe['rate'].apply(rateDisplay)
print(dataframe.head(7)) # --> head() function is used to print limited no. of rows. The default is 5

                                              name online_order book_table  \
0                                            Jalsa          Yes        Yes
1                                   Spice Elephant          Yes         No
2                                  San Churro Cafe          Yes         No
3                            Addhuri Udupi Bhojana           No         No
4                                    Grand Village           No         No
5                                  Timepass Dinner          Yes         No
6  Rosewood International Hotel - Bar & Restaurant           No         No

   rate  votes  approx_cost(for two people) listed_in(type)
0   4.1    775                          800          Buffet
1   4.1    787                          800          Buffet
2   3.8    918                          800          Buffet
3   3.7     88                          300          Buffet
4   3.8    166                          600          Buffet
5   3.8    286                          600          Buffet
6   3.6      8                          800          Buffet

In [8]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148 entries, 0 to 147
Data columns (total 7 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   name                         148 non-null    object
 1   online_order                 148 non-null    object
 2   book_table                   148 non-null    object
 3   rate                         148 non-null    float64
 4   votes                        148 non-null    int64
 5   approx_cost(for two people)  148 non-null    int64
 6   listed_in(type)              148 non-null    object
dtypes: float64(1), int64(2), object(4)
memory usage: 8.2+ KB